html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* styles.css */
#sudoku-grid {
    display: grid;
    grid-template-columns: repeat(1, 9fr);
    gap: 1px;
}

.sudoku-row {
    display: flex;
    flex-wrap: nowrap;
}

.sudoku-cell {
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

